FLASK_ENV=development
FLASK_DEBUG=1
PORT=5000
SUPABASE_URL=https://bzrhradrgbveqqzluoyh.supabase.co
SUPABASE_KEY=your_supabase_publishable_or_anon_key

OMDB_API_URL=http://www.omdbapi.com/?i=movie_id&apikey=your_key_here
# The URL is just for reference; URL will be hard-coded in the actual code
OMDB_API_KEY=your_key_here